/* ---------------------------- */
/*          CONTENT             */
/* ---------------------------- */

/* ---- Composantes générales ---- */

main {
  padding-bottom: 1rem;
}

.carousel {
  @extend .clean-ul;
  @extend .w100;
  li {
    display: block;
  }
}

.titre-film {
  font-size: 1.8rem;
  display: inline-block;
  padding: $pad-small;
  /*background-color: $color-2;*/
  color: $color-bg;
  background-color: lighten($color-3, 10);
  transition: 0.2s background-color;
  border-right: 5px solid $color-bg;
  border-bottom: 5px solid $color-bg;
}

.card-film {
  @extend .w33;
  padding: $width-gutter/2;
  position: relative;
  img {
    @extend .w100;
  }
  &.current {
    background-color: $color-header;
  }
  a {
    @extend .w100;
    display: block;
    color: $color-txt;
    transition: 0.3s all;
    &.lien-fiche {
      transition: 0.2s transform;
      transform: translate(-8px, -8px);
      &:hover {
        .titre-film {
          background-color: darken($color-3, 15);
        }
      }
    }
    &.lien-jouer,
    &.lien-detail {
      @extend .txt-center;
      @extend .txt-shadow;
      opacity: 0;
    }
    &.lien-jouer {
      font-size: 8rem;
    }
    &.lien-detail {
      font-size: 3.5rem;
    }
    i {
      transition: 0.2s transform;
      transform: translateY(0);
    }
  }
  &_overlay {
    @extend .overlay;
    @extend .flex;
    padding: $width-gutter/2;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s background-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      a {
        &.lien-fiche {
          transform: translate(0, 0);
        }
        &.lien-jouer {
          opacity: 1;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.lien-detail {
          opacity: 1;
          &:hover {
            opacity: 0.6;
          }
        }
        &.lien-detail i {
          transform: translateY(10px);
        }
      }
    }
  }
}

.background-image {
  background-size: cover;
  background-position: center center;
  height: 100%;
  &_overlay {
    min-height: 60vh;
    background-color: rgba($color-dark, 0.1);
  }
}

#page.fiche .background-image{
  background-position: top center;
  background-attachment: fixed;
}

.close {
  color: #fff;
  font-size: 3.6rem;
}

.tiroir {
  background-color: $color-header;
  /*position: relative;
  top: -5px;
  border-top: 10px solid $color-header;
  border-bottom: 10px solid $color-header;*/
  .content {
    padding: 3rem $width-gutter 1rem;
    height: 100%;
  }
}

.fiche {
  .content {
    padding: 4rem 0 10rem;
  }
}

.details {
  a {
    @extend .btn-list;
  }
}

.tabs-container {
  margin-top: -4.9rem;
  .tab {
    display: inline-block;
    padding: 0 1.2em;
    line-height: 5rem;
    margin-right: 0.2em;
    font-size: 2rem;
    background-color: rgba($color-bg, 0.4);
    &.current {
      background-color: $color-bg;
      color: $color-txt;
    }
  }
}

.content-tabs {
  padding: 3rem 0;
}

.video-container{
  position: relative;
  .retour{
    color: $color-txt;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    padding: 0.5em;
    &:hover{
      color: $color-1;
    }
  }
}