/* -------------------------------- */
/*          HEADER & NAV            */
/* -------------------------------- */

/* Bannières */
.banner{
  min-height: 20vh
}

.banner-message{
  padding-top: 15vh;
}

#home .banner{
  min-height: 100vh;
  background-image: url(/images/banner.jpg);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed; 
}

#page .banner{
  background-image: url(/images/banner-tv.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 30vh;
}

#page{
  .logo{
    font-size: 3.6rem;
  }
  /*.banner{
    background-image: url(/images/banner-tv.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
  }*/
}

/*--------- NAV ---------*/

nav{
  background-color: rgba($color-header, 0.3);
  li{
    display: inline-block;
    margin-left: 2rem;
  }
  .current{
    border-bottom: 3px solid $color-txt;
  }
}

#main-nav{
  background-color: $color-header;
}

.form-recherche{
  margin-left: 2em;
  input{
    padding-left: 3rem;
  }
  i{
    margin-right: -3rem;
  }
}

/*#meta-nav{
  font-size: 0.9rem;
  background-color: rgba(0, 28, 51, 0.9);
  padding: 0.5rem 0;
}*/

/* ---------------------------- */
/*          FOOTER              */
/* ---------------------------- */

footer{
  background-color: $color-footer;
  padding: 0.5rem 0;
  text-align: center;
  clear: both;
}
