/* ----------------------*/
/* ---- Formulaires ---- */
/* ----------------------*/

.frm-ligne{
  margin-bottom: 1.5rem;
}

label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.inline-label{
  display: inline;
  font-size: 1rem;
}

input{
  color: $color-txt;
  padding: 0.5rem;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.2);
  border: 1.5px solid lighten($color-bg, 60);
  &:focus{
    border-color:$color-3;
  }
}

span{
  color:$color-3;
  margin-left: 0.5rem;
}

fieldset{
  padding: 2rem;
  margin: 0;
}

fieldset>div{
  margin-bottom: 2rem;
}

legend{padding: 0 1rem;}

textarea{padding: 1rem;}

select{
  min-width: 250px;
  padding: 0.5rem;
  background-color: $color-bg;
  color: $color-txt;
}
